{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<div class="profile-header-container">
        <div class="profile-information">
            <div>
                {{ include('shared/_avatar.html.twig',{profile: user.userProfile, size:36})}}
            </div>
            <div class="profile-detail">
                <p class="profile-pseudo">{{user.pseudo}}</p>
                {% if user.userProfile.profession %}
                    <span class="icon-profile">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 0 0 .75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 0 0-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0 1 12 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 0 1-.673-.38m0 0A2.18 2.18 0 0 1 3 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 0 1 3.413-.387m7.5 0V5.25A2.25 2.25 0 0 0 13.5 3h-3a2.25 2.25 0 0 0-2.25 2.25v.894m7.5 0a48.667 48.667 0 0 0-7.5 0M12 12.75h.008v.008H12v-.008Z" />
                        <p>{{user.userProfile.profession ?? 'No Profession'}}</p>
                        </svg>
                    </span>
                {% endif %} 
                {% if user.userProfile.dateOfBirth %}
                    <span class="icon-profile">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 8.25v-1.5m0 1.5c-1.355 0-2.697.056-4.024.166C6.845 8.51 6 9.473 6 10.608v2.513m6-4.871c1.355 0 2.697.056 4.024.166C17.155 8.51 18 9.473 18 10.608v2.513M15 8.25v-1.5m-6 1.5v-1.5m12 9.75-1.5.75a3.354 3.354 0 0 1-3 0 3.354 3.354 0 0 0-3 0 3.354 3.354 0 0 1-3 0 3.354 3.354 0 0 0-3 0 3.354 3.354 0 0 1-3 0L3 16.5m15-3.379a48.474 48.474 0 0 0-6-.371c-2.032 0-4.034.126-6 .371m12 0c.39.049.777.102 1.163.16 1.07.16 1.837 1.094 1.837 2.175v5.169c0 .621-.504 1.125-1.125 1.125H4.125A1.125 1.125 0 0 1 3 20.625v-5.17c0-1.08.768-2.014 1.837-2.174A47.78 47.78 0 0 1 6 13.12M12.265 3.11a.375.375 0 1 1-.53 0L12 2.845l.265.265Zm-3 0a.375.375 0 1 1-.53 0L9 2.845l.265.265Zm6 0a.375.375 0 1 1-.53 0L15 2.845l.265.265Z" />
                        </svg>
                        <p>{{user.userProfile.dateOfBirth|date('d/m/y')}}</p>
                    </span>
                {% endif %} 
            </div>
        </div>
        <div class="bio-mobile">
            {% if user.userProfile != null %}
                {% if user.userProfile.bio != null %}
                <p>{{user.userProfile.bio}}</p>
                {% endif %}
            {% endif %}
        </div>
        <div class="btn-profile">
        {% if app.user.id != user.id %}
            <button class="btn-message"><a href="{{path('app_messages_send_person',{id:user.id})}}">Message</a></button>
        {% endif %}
            {{include('follower/_follow_button.html.twig',{userToFollow:user})}}
            {# inja baraie neshon dadan in dokme baiad baresi kone ke aya in kasi ke connect has 
            ba profile in ieki has ya na, masalan age sara bere profile meysam ro bebine dg in neshon nemide #}

            {% if app.user.id == user.id %}
                <button class="btn-addpost">
                    <a href="{{path('app_micro_post_add')}}">Add Post</a>
                </button>
                {% if user.userProfile.bio is null or user.userProfile.dateOfBirth is null
                        or user.userProfile.profession is null %}
                    <button class="btn-editinformation">
                        <a href="{{path('app_setting_profile', 
                        {id: app.user.id})}}">Complete your information</a>
                    </button>
                {% else %}
                    <button class="btn-completeinformation">
                        <a href="{{path('app_setting_profile', {id: app.user.id})}}">
                        Edit your information</a>
                    </button>
                {% endif %}
            {% endif %}
        </div>
</div>
    <div class="bio-web">
        {% if user.userProfile != null %}
            {% if user.userProfile.bio != null %}
            <p>{{user.userProfile.bio}}</p>
            {% endif %}
        {% endif %}
    </div>
{% endif %}