{{ form_start(form, {'attr':{'novalidate':'novalidate'}})}}

    <div>
        {{form_errors(form)}}
    </div>
    {{ form_row(form._token) }}
    <div class="flex justify-center">
        {{form_label(form.text, 'Please enter the comment', {'label_attr':{'class':'block text-sm text-gray-700 font-medium mt-5 '}})}}
    </div>

    <div class="flex justify-center">
    {{form_widget(form.text, {'attr':{'class':'w-8/12 shadow-sm border-gray-300 rounded-md border p-2 mt-1 mb-2 mx-10'}})}}
    </div>

    <div class="flex justify-center">
        <button type="submit" class="form-butt-reg">Edit Comment</button>
    </div>

{{form_end(form)}}