{% extends 'base.html.twig' %}

{% block title %}Edit the post{% endblock %}

{% block body %}
<div class="min-h-screen bg-gradient-to-r from-[#D6D6D6] to-[#F9EFD4]" id="contain">
    {{include ('micro_post/_menu.html.twig')}}
    <div class="mx-5 md:mx-15 xl:mx-24" id="profil-posts">
    <h1 class="mt-5 mb-8 text-xl font-semibold mx-2 md:mx-8">Edit your Existing Post</h1>
    {{ form_start(form, {'attr':{'novalidate':'novalidate'}})}}

<div class="mx-2 md:mx-8">
        <div>
            {{form_errors(form)}}
        </div>

        <div >
            {{form_label(form.title, 'Please Edit the title', {'label_attr':{'class':'block text-sm text-gray-700 font-medium ml-2 mt-5'}})}}
            {{form_widget(form.title, {'attr':{'class':'block w-full  shadow-sm border-gray-300 rounded-md border p-2 mt-1 mb-2 registration_form_input'}})}}
            {{form_errors(form.title)}}
        </div>

        <div>
            {{form_label(form.text, 'Please Edit the text', {'label_attr':{'class':'block text-sm text-gray-700 font-medium ml-2 mt-5'}})}}
            {{form_widget(form.text, {'attr':{'class':'block w-full  shadow-sm border-gray-300 rounded-md border p-2 mt-1 mb-2 registration_form_input'}})}}
            {{form_errors(form.text)}}
        </div>
        <div class="flex">
            
            <div>
                {{form_label(form.postImage, 'Please upload/change your image', {'label_attr':{'class':'block text-sm text-gray-700 font-medium ml-2 mt-5'}})}}
                {{form_widget(form.postImage, {'attr':{'class':'block w-9/12 mt-1 mb-2'}})}}
                {{form_errors(form.postImage)}}
            </div>
            <div>
            {% if post.image %}
                <img src="{{ asset('upload/posts/' ~ post.image)}}" class="inline-block h-64 w-96 "/>
            {% endif %}
            </div>
        </div>
</div>
        <div class="flex justify-center ">
            <button type="submit" class="form-butt-reg">Edit your Post</button>
        </div>

    {{form_end(form)}}
    </div>
    <div class="mt-8 " id="foot">
        {{include('Shared/_footer.html.twig')}}
    </div>
</div>
{% endblock %}
