{% extends 'base.html.twig' %}

{% block title %}Top-Like Posts{% endblock %}

{% block body %}
    
       
    <div> 
    <div class="bg-gradient-to-r from-[#D6D6D6] to-[#F9EFD4]">
        <div>
            {{include('micro_post/_menu.html.twig')}}
        </div>
        <div class="mx-3 md:mx-6 lg:mx-8">
                <div class="home-container ">
                    <div class="home-post">
                    {{include('micro_post/_post_tabs.html.twig')}}
                        <div class="post-scroll">
                        {% for post in posts %}
                        {{include('micro_post/_post_list.html.twig')}}
                        {% endfor %}
                        </div>
                    </div>
                    <div class="home-side">
                        {{include('micro_post/_sidebar_content.html.twig')}}  
                    </div>
                </div>
        </div>
    <div class="mt-8 ">
        {{include('Shared/_footer.html.twig')}}
    </div>
</div>
{% endblock %}