{% extends 'base.html.twig' %}

{% block title %}Create new profile{% endblock %}

{% block body %}
<div class="min-h-screen bg-gradient-to-r from-[#D6D6D6] to-[#F9EFD4]" id="contain">
    
        {{include ('micro_post/_menu.html.twig')}}

        <div class="mx-5 md:mx-15 xl:mx-20" id="profil-posts">
            {{include ('setting_profile/_setting_profile_tabs.html.twig')}}
            {{ form_start(form) }}
            {{include ('setting_profile/_profile_form.html.twig')}}

            <div class="flex justify-center">
                <button type="submit" class="form-butt-reg">Save Setting</button>
            </div>
        {{ form_end(form) }}
        </div>
    <div class="mt-8 " id="foot">
        {{include('Shared/_footer.html.twig')}}
    </div>
</div>
{% endblock %}

