{% extends 'base.html.twig' %}

{% block title %}Profile Image{% endblock %}

{% block body %}
<div class="min-h-screen bg-gradient-to-r from-[#D6D6D6] to-[#F9EFD4]" id="contain">
        {{include ('micro_post/_menu.html.twig')}} 
        <div class="mx-5 md:mx-15 xl:mx-20"id="profil-posts" >
            {{include ('setting_profile/_setting_profile_tabs.html.twig')}}
        
            <div class="flex items-center" >
            <div class="ml-8">
            {{include ('shared/_avatar.html.twig',{'size':32, profile:app.user.userProfile})}}
            </div>
                <div class="ml-16" >
                {{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}
                {{ form_label(form.profileImage, 'Change', {'label_attr': {'class': 'text-white shadow-sm border-2 border-transparent bg-gradient-to-r from-[#ee670d] to-[#e99343] hover:border-[#337F5B] hover:text-[#337F5B] cursor-pointer rounded-md p-2 px-4'}}) }}
                {{ form_widget(form.profileImage, {'attr': {'class': 'hidden'}}) }}
                {{ form_errors(form.profileImage) }}
                </div>
            </div>
            <div>
                <button type="submit" class="form-butt-reg ml-10 mt-10">Save Changes</button>
            </div>
        </div>
        {{ form_end(form) }}
        <div class="mt-8 " id="foot">
        {{include('Shared/_footer.html.twig')}}
    </div>
</div>
{% endblock %}