{% extends 'base.html.twig' %}

{% block title %}Messages index{% endblock %}

{% block body %}
    <h1>Messages index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Message</th>
                <th>CreatedAt</th>
                <th>Is_read</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.title }}</td>
                <td>{{ message.message }}</td>
                <td>{{ message.createdAt ? message.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ message.isRead ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_admin_message_show', {'id': message.id}) }}">show</a>
                    <a href="{{ path('app_admin_message_edit', {'id': message.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_message_new') }}">Create new</a>
{% endblock %}
