{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="login-flex">
        <div class="Welcome">
            <h1>Do you want to know more about us?</h1>
            <h1 class="welcome-click"><a href="{{path('app_about')}}">Click here</a></h1>
        </div>
        <div class="container-login">
            <div class="form-login">
                <h1 class="">Login</h1>
                <p class="login-already">Already a member, LOGIN now</p>
                <form action="{{path('app_login')}}" method="POST" class="input-form">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button type="submit">Login</button>
                    <p class="forget-pass">Forget Password? <a href="{{path('app_forgot_password_request')}}">Click Here</a></p>
                    <p class="or">OR</p>
                    <p class="register-now">Don't have an account? <a href="{{path('app_register')}}">Register Now</a></p>
                
                </form>
            </div>  
            <div class="image-login">
                <a href="{{path('app_register')}}"><img src="{{asset('assets/images/reg-image.png')}}"></a>
            </div>  
        </div>
        <div class="footer-login">
            <div class="footer-login-container">
                <div class="footer-login-titre">
                    <p> &copy; FRIENDFLEET LYON FRANCE</p>
                </div>
                <div class="footer-login-link">
                    <p><a href="{{path('app_about')}}">About Us</a></p>
                    <p><a href="{{path('app_privacy')}}">Privacy Policy</p>
                    <p><a href="{{path('app_legal')}}">Legal Notice</p>
                </div> 
            </div>
        </div>
    </div>
{% endblock %}






