{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
     
        {{include('admin_shared/_menu.html.twig')}}
    
    <div class="p-4 mt-10 sm:ml-64">
        <h1 class="font-bold text-xl mt-10">Users Administration</h1>
        <div class="flex items-center">
            <p class="mr-5 font-semibold mt-10">Do you want create a new user?</p>
            <button class="create-admin-butt mt-10"><a href="{{ path('app_admin_user_new') }}">Create new</a></button>
        </div>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-10">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
                <thead class="text-xs text-gray-700 uppercase bg-gray-200">
                    <tr>
                        <th scope="col" class="px-6 py-3">Id</th>
                        <th scope="col" class="px-6 py-3">Email</th>
                        <th scope="col" class="px-6 py-3">Roles</th>
                        <th scope="col" class="px-6 py-3">IsVerified</th>
                        <th scope="col" class="px-6 py-3">IsActive</th>
                        <th scope="col" class="px-6 py-3">actions</th>
                        
                    </tr>
                </thead>
                <tbody>
                {% for user in pagination %}
                    <tr class="bg-white border-b">
                        <td class="px-6 py-4">{{ user.id }}</td>
                        <td class="px-6 py-4">{{ user.email }}</td>
                        <td class="px-6 py-4">{{ user.roles ? user.roles|json_encode : '' }}</td>
                        <td class="px-6 py-4">{{ user.isVerified ? 'Yes' : 'No' }}</td>
                        <td class="px-6 py-4">{{ user.isActive ? 'Yes' : 'No' }}</td>
                        <td class="px-6 py-4">
                            <a class="mr-3 font-medium text-[#1b734a] hover:underline hover:decoration-[#ee670d]" href="{{ path('app_admin_user_show', {'id': user.id}) }} ">show</a>
                            <a class="font-medium text-[#1b734a] hover:underline hover:decoration-[#ee670d]" href="{{ path('app_admin_user_edit', {'id': user.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="flex justify-center mt-4">
            {{knp_pagination_render(pagination)}}
        </div>
    </div>

    
{% endblock %}
