{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
   
        {{include('admin_shared/_menu.html.twig')}}

    <div class="p-4 mt-12 sm:ml-64">
    <button class="mt-5 flex font-semibold hover:underline hover:font-bold ">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
        </svg>

        <a href="{{ path('app_admin_user_index') }}">back to list</a>
    </button>
        <h1 class="font-bold text-xl mt-4">User Administration</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th class="px-6 py-4 font-semibold text-gray-900 whitespace-nowrap">Id</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th class="px-6 py-4 font-semibold text-gray-900 whitespace-nowrap">Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th class="px-6 py-4 font-semibold text-gray-900 whitespace-nowrap">Roles</th>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                </tr>
                <tr>
                    <th class="px-6 py-4 font-semibold text-gray-900 whitespace-nowrap">IsVerified</th>
                    <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th class="px-6 py-4 font-semibold text-gray-900 whitespace-nowrap">IsActive</th>
                    <td>{{ user.isActive ? 'Yes' : 'No' }}</td>
                </tr>
            </tbody>
        </table>

        
        <div class="flex">
            <button class="bg-[#edca04] hover:bg-[#debd02] text-white font-bold py-2 px-11 rounded  mx-2 mb-4 mt-4"><a href="{{ path('app_admin_user_edit', {'id': user.id}) }}">edit</a></button>
        
           {{ include('admin_user/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
