{% extends 'base.html.twig' %}

{% block title %}UserProfile index{% endblock %}

{% block body %}
    <h1>UserProfile index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Bio</th>
                <th>Profession</th>
                <th>DateOfBirth</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_profile in user_profiles %}
            <tr>
                <td>{{ user_profile.id }}</td>
                <td>{{ user_profile.name }}</td>
                <td>{{ user_profile.bio }}</td>
                <td>{{ user_profile.profession }}</td>
                <td>{{ user_profile.dateOfBirth ? user_profile.dateOfBirth|date('Y-m-d') : '' }}</td>
                <td>{{ user_profile.image }}</td>
                <td>
                    <a href="{{ path('app_admin_user_profile_show', {'id': user_profile.id}) }}">show</a>
                    <a href="{{ path('app_admin_user_profile_edit', {'id': user_profile.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_user_profile_new') }}">Create new</a>
{% endblock %}
