{% extends 'base.html.twig' %}

{% block title %}UserProfile{% endblock %}

{% block body %}
    {{include('admin_shared/_menu.html.twig')}}

<div class="p-4 mt-12 sm:ml-64">
    <button class="mt-5 flex font-semibold hover:underline hover:font-bold ">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
        </svg>

        <a href="{{ path('app_admin_user_profile_index') }}">back to list</a>
    </button>

    <h1 class="font-bold text-xl mt-4">UserProfile</h1>

    <table class="table">
        <tbody>
            <tr>
                <th class="px-6 py-4 font-semibold text-gray-900 whitespace-nowrap">Id</th>
                <td>{{ user_profile.id }}</td>
            </tr>
            <tr>
                <th class="px-6 py-4 font-semibold text-gray-900 whitespace-nowrap">Name</th>
                <td>{{ user_profile.name }}</td>
            </tr>
            <tr>
                <th class="px-6 py-4 font-semibold text-gray-900 whitespace-nowrap">Bio</th>
                <td>{{ user_profile.bio }}</td>
            </tr>
            <tr>
                <th class="px-6 py-4 font-semibold text-gray-900 whitespace-nowrap">Profession</th>
                <td>{{ user_profile.profession }}</td>
            </tr>
            <tr>
                <th class="px-6 py-4 font-semibold text-gray-900 whitespace-nowrap">Date_Of_Birth</th>
                <td>{{ user_profile.dateOfBirth ? user_profile.dateOfBirth|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th class="px-6 py-4 font-semibold text-gray-900 whitespace-nowrap">Avatar</th>
                <td>{{ user_profile.image }}
                    {% if user_profile.image %}
                        <img src="{{ asset('upload/profiles/' ~ user_profile.image)}}" class="inline-block h-32 "/>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    
    <div class="flex mt-5">
    <a class="bg-[#edca04] hover:bg-[#debd02] text-white font-bold py-2 px-11 rounded  mx-2 mb-4 mt-4" href="{{ path('app_admin_user_profile_edit', {'id': user_profile.id}) }}">edit</a>

    {{ include('admin_user_profile/_delete_form.html.twig') }}
    </div>
{% endblock %}
