{{ form_start(form, {'attr':{'novalidate':'novalidate'}})}}
    <div>
        {{form_errors(form)}}
    </div>

    <div>
        {{form_label(form.title, 'Please enter the title', {'label_attr':{'class':'block text-sm text-gray-700 font-medium ml-14 mt-5'}})}}
        {{form_widget(form.title, {'attr':{'class':'block w-9/12  shadow-sm border-gray-300 rounded-md border p-2 mt-1 mb-2 mx-10'}})}}
        {{form_errors(form.title)}}
    </div>

    <div>
        {{form_label(form.message, 'Please enter your message', {'label_attr':{'class':'block text-sm text-gray-700 font-medium ml-14 mt-5'}})}}
        {{form_widget(form.message, {'attr':{'class':'block w-9/12  shadow-sm border-gray-300 rounded-md border p-2 mt-1 mb-2 mx-10'}})}}
        {{form_errors(form.message)}}
     </div>

{{ form_end(form)}}