{% extends 'base.html.twig' %}

{% block title %}Message{% endblock %}

{% block body %}
    <div class="min-h-screen bg-gradient-to-r from-[#D6D6D6] to-[#F9EFD4]" id="contain">
        <div>
            {{include('micro_post/_menu.html.twig')}}
        </div>
            <div class="mx-5 md:mx-15 xl:mx-20" id="profil-posts">
                <div class="flex flex-col mx-6 my-4" >
                    {# <h1 class="mb-4">Messages</h1> #}
                    <h1 class="mb-4 font-bold">Summary of the message</h1>
                    <p class="mb-3">Received : {{ app.user.received.count}}</p>
                    <p class="mb-3">sent : {{ app.user.sent.count}}</p>
                    {{ include('messages/_message_button.html.twig')}}
                </div>
            </div>
        
        {{include('messages/_offcanvas.html.twig')}} 
         <div id="foot">
        {{include('Shared/_footer.html.twig')}}
    </div>   
    </div>
   
{% endblock %}
