{% extends 'base.html.twig' %}

{% block title %}Message{% endblock %}

{% block body %}
    <div class="min-h-screen bg-gradient-to-r from-[#D6D6D6] to-[#F9EFD4]" id="contain">
        <div>
            {{include('micro_post/_menu.html.twig')}}
        </div>
            <div class="mx-2 md:mx-15 xl:mx-20" id="profil-posts">
                <div class="flex flex-col mx-6 my-4">
                    <h1 class="mb-4 font-bold">Reply</h1>
                    <span class="flex justify-start md:ml-12">
                        <div class="flex">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                            </svg>
                            <h1 class="mb-4 mr-8 font-bold text-base border-b-2 border-gray-600"><a href="{{path('app_messages_received')}}">All Inbox</a></h1> 
                        </div>
                        <h1 class="mb-4 font-bold text-base border-b-2 border-gray-600 type="button" data-drawer-target="drawer-example" data-drawer-show="drawer-example" aria-controls="drawer-example""><a href="#">MailBoxes</a></h1> 

                    </span>
                    {{include('messages/_form.html.twig')}}
                </div>
            </div>
        
        {{include('messages/_offcanvas.html.twig')}}
        <div class="mt-8 " id="foot">
        {{include('Shared/_footer.html.twig')}}
    </div>
    </div>
{% endblock %}