{% extends 'base.html.twig' %}

{% block title %}Comment index{% endblock %}

{% block body %}
    {{include('admin_shared/_menu.html.twig')}}
    <div class="p-4 mt-10 sm:ml-64">
    <h1 class="font-bold text-xl mt-10">Comments Administration</h1>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-10">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 "> 
                <thead class="text-xs text-gray-700 uppercase bg-gray-200">
                    <tr>
                        <th scope="col" class="px-6 py-3">Id</th>
                        <th scope="col" class="px-6 py-3">Comment</th>
                        <th scope="col" class="px-6 py-3">Post</th>
                        <th scope="col" class="px-6 py-3">Author</th>
                        <th scope="col" class="px-6 py-3">CreatedAt</th>
                        <th scope="col" class="px-6 py-3">Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for comment in pagination  %}
                    <tr class="bg-white border-b">
                        <td class="px-6 py-4">{{ comment.id }}</td>
                        <td class="px-6 py-4">{{ comment.text }}</td>
                        <td class="px-6 py-4">{{ comment.post.id }}</td>
                        <td class="px-6 py-4">{{ comment.author.pseudo }}</td>
                        <td class="px-6 py-4">{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td class="px-6 py-4 flex">
                            <a class="font-medium text-[#1b734a] hover:underline hover:decoration-[#ee670d] " href="{{ path('app_admin_comment_show', {'id': comment.id}) }}">show</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="flex justify-center mt-4">
            {{knp_pagination_render(pagination)}}
        </div>



{% endblock %}
